
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Preahvihear", sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --body-color: #251C31;
  --text-color:#fff;
  --main-text:#7127BA;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1.125rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* html {
  scroll-behavior: smooth;
} */

body,
input,
textarea,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color .4s;
}

input,
button,
textarea {
  border: none;
  outline: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


@media (prefers-reduced-motion: no-preference) {
    .pageScrollanimation {
      opacity: 0;
      transform: scale(0.8);
      animation: fade-in 1s linear forwards;
      animation-timeline: view(block);
      animation-range: entry 30px entry 60%;
    }
  
    @keyframes fade-in {
      to {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  
  

.container {
  max-width: 1120px;
  margin: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}


.section {
  padding-block: 3rem 1rem;
}
.section__title {
  font-size: var(--h1-font-size);
  text-align: center;
  margin-bottom: 2rem;
}


.flex{display: flex;}
.align{align-items: center;}
.justify {justify-content: space-between;}
.gap{
    gap:30px;
}
.flexWrap{flex-wrap: wrap;}
/* header */
.header{
    background-color: #1A0B2E;
    padding: 10px 0;
}
.navBar{display: flex;}
.navBar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navBar ul li {
    color: #fff;
    font-family:var(--body-font);
    font-size: var(--normal-font-size);
    margin-left: 50px;
}
.brand{margin-right: auto;}
.brand img {width: 50px;}
/* profile */
.profile__Details {position: relative;}
.profile__leftSide{position: relative;
    z-index: 2;
    width: 385px;
    height: 431px;
    display: flex;
    align-items: center;}
.profile__leftSide img {margin: auto;}
.profile__leftSide::after{
    position: absolute;
    content: '';
    width: 258px;
    height: 259px;
    background-image: url(../images/profilebg.png);
    background-repeat: no-repeat;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.profile__leftSide::before{
    position: absolute;
    content: '';
    width: 385px;
    height: 431px;
    background-image: url(../images/profilebg2.png);
    background-repeat: no-repeat;
    z-index: -1;
    top: 0;
    left: 0;
}
.curved-arrow {
    width: 120px;
    height: 120px;
    background-image: url(../images/Arrow.png); /* Replace with the actual arrow image path */
    background-size: contain;
    background-repeat: no-repeat;
    animation: arrowMove 2s ease-in-out infinite;
    position: absolute;
    right: 0;
    margin: auto;
    z-index: 10;
    top: 0;
  }
  
  @keyframes arrowMove {
    0% {
      transform: translate(0, 0) rotate(0deg);
      opacity: 0;
    }
    50% {
      transform: translate(-10px, 10px) rotate(-10deg);
      opacity: 1;
    }
    100% {
      transform: translate(0, 0) rotate(0deg);
      opacity: 0;
    }
  }
  .profile__innerDetails {margin-top: 15px;}
  .profile__innerDetails h2 {color: var(--text-color);
    font-size: var(--h1-font-size);
}

  .profile__innerDetails span{color: var(--main-text); font-size: var(--h2-font-size);}
  .profile__innerDetails p {font-size: var(--small-font-size);}
.profile__update{position: relative; z-index: 2;}
  .profile__update h1 {font-size: var(--h1-font-size);}
  .profile__update::after{
    content: 'About';
    position: absolute;
    top: 0;
    font-size: 200px;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    color: #ffffff0a;
    background: -webkit-linear-gradient(#322d3873, #ffffff08);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    z-index: -1;
  }
  .profile__About{font-size:var(--normal-font-size); margin-top: 30px; font-weight: var(--font-regular); line-height: 29px;}
  .text-part {
    display: inline-block;
    position: relative;
    transform: translateX(0);
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.text-part.left {
    transform: translateX(-200%);
    animation-name: slide-in-left;
}

.text-part.right {
    transform: translateX(200%);
    animation-name: slide-in-right;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}

  /* Work Experience */

  .work__Experience{
position: relative;
padding: 80px 0;
 
  }
  .work__Experience::after{
    content: 'Experience';
    position: absolute;
    top: 0;
    font-size: 200px;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    color: #ffffff0a;
    background: -webkit-linear-gradient(#322d3873, #ffffff08);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    z-index: -1;
  }
  .work__Experience::before{
    position: absolute;
    content: '';
    width: 625px;
    height: 700px;
    background-image: url(../images/workbg.png);
    background-repeat: no-repeat;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.work__Experience h3 {font-size:40px; font-weight: var(--font-regular); margin-bottom: 50px;}
.experience__Box{background: linear-gradient(95.56deg, #130428 0.58%, #251043 16.32%, #38126D 29.33%, #261045 45.66%, #190634 54.44%);
    box-shadow: 4px 7px 26px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    padding: 30px;
    width: calc(50% - 15px);
    border-top: 8px solid #4F228D;
    
    }

.company__Logo{width: 30%;}
.company__about{width: 70%;}
 .company__about p {font-size: var(--small-font-size); margin-top: 10px;}   
 .company__about span{color: #b178ff; font-size:var(--small-font-size);}
/* skill */
 .toolSection{
    text-align: center;
 }
.skillAnimation{position: relative; margin-top: 50px;}
.skillAnimation ul {
    display: flex;
    justify-content: center;
    gap: 14px;
    margin-bottom: 15px;
}
.skillAnimation ul:last-of-type {margin-bottom: 0;}
.skillAnimation ul li {background-color: #3a2950;border-radius: 100px;width: 45px;height: 45px; display: flex; align-items: center; justify-content: center;}
.skillAnimation ul li img {
    width: 30px;
    border-radius: 100px;
}
.skillAnimation li {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.skillAnimation li .tooltip {
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 8px;
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    transition: opacity 0.3s ease;
    transition-delay: 0.5s; /* Hold delay */
    pointer-events: none;
    font-size: 12px;
  }
  
  .skillAnimation li:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 134px;
}

.skill__list::before{
    content: 'Skils';
    position: absolute;
    top: 0;
    font-size: 200px;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    color: #ffffff0a;
    background: -webkit-linear-gradient(#322d3873, #ffffff08);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    z-index: -1;
  }
.skillImg {position: relative;}
.skillImg img {margin: auto;}

/* project */
section.horizontal {
    overflow-x: hidden;
  }
  
  section.horizontal .pin-wrap,
  section.horizontal .animation-wrap {
    display: flex;
    position: relative;
    z-index: 1;
    gap: 20px;
  }
  
  section.horizontal .item {
    position: relative;
  padding: 0px 50px;
  align-items: center;
  line-height: 1.7;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #000;
  min-width: 60vw;
  padding: 20px;
  }
  
  .project__details {display: flex; gap: 20px;}
  .project__Section{width: 50%;}
  .project__Section img {border-radius: 10px;}